* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    /* max-width: 950px; */
    margin: 0 auto;
    height: 100vh;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    height: 10%;
    margin: 0;
}

select, button {
    background: #fff;
    border: 1px solid #959595;
    border-radius: 5px;
    padding: .5em;
}

option {
    background-color: #fff;
}

button {
    padding: .5em;
}

.colors-container {
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.color-container {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.color-expo {
    height: 95%;
}

.color-hex {
    height: 5%;
    font-size: 1.5em;;
    margin: 0;
    padding: 1em .5em 2em;
    text-align: center;
    font-weight: 300;
}